<ion-header>
  <ion-toolbar>
    <ion-title>Müşteriler</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Yeni Müşteri ekle
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Müşteri İsmi</ion-label>
        <ion-input [(ngModel)]="vorName" name="vorName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Müşteri Soyismi</ion-label>
        <ion-input [(ngModel)]="nachName" name="nachName"></ion-input>
      </ion-item>


    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button ion-button (click)="abort()" type="abort" [routerLink]="['/offene-rechnungen']">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button ion-button (click)="addKunde()" type="submit" [routerLink]="['/offene-rechnungen']">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>