<ion-header>
  <ion-toolbar>
    <img slot="start" src="./../../assets/icon/icon512.png" style="width : 10% ; height : 10%" ng-click="nextpage()">
    <ion-title slot="center">VFIB-Westerholt</ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="['/offene-rechnungen']">
        <ion-icon slot="icon-only" name="book-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="print()">
        <ion-icon slot="icon-only" name="newspaper-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="printWertmarke()">
        <ion-icon slot="icon-only" name="newspaper"></ion-icon>
      </ion-button>

    </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content class="ion-content">
  <ion-card class="ion-card">
    <ion-card-header>
      <ion-title>
        Fiş
      </ion-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>

        <ion-item>
          <ion-select placeholder="Müşteri seçiniz" (ionChange)="handleChange($event)">
            <div slot="label">Müşteri seçiniz <ion-text color="danger">(Zorunlu)</ion-text></div>
            <ion-select-option *ngFor="let einKunde of kunden; let i = index" [value]="einKunde">
              {{einKunde.getVorName()}}
              {{einKunde.getNachName()}} </ion-select-option>

          </ion-select>
        </ion-item>

        <ion-item *ngFor="let produkt of warenkorbInhalt">
          {{produkt[1]}} x
          {{produkt[0].getName()}}
          <ion-label slot="end">{{produkt[1]*produkt[0].getPreis()}}€</ion-label>
        </ion-item>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-card">
    <ion-card-header>
      <ion-title>
        Ödeme
      </ion-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-radio-group [(ngModel)]="bezahlmethode" [allowEmptySelection]="false" value="bar">
          <ion-item>
            <ion-label>Nakit</ion-label>
            <ion-radio labelPlacement="end" value="bar">Nakit</ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Liste</ion-label>
            <ion-radio labelPlacement="end" value="liste">Liste</ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>


  </ion-card>

  <ion-grid>
    <ion-row>

      <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4">
        <ion-card>
          <ion-item>
            Toplam tutar
            <ion-label slot="end">{{this.gesamtpreis.toFixed(2)}}€</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="3">
        <ion-card>
          <ion-item>
            Alinan
            <ion-input (ionInput)="onInput($event)" label="Number input" type="number"
              value={{this.bekommen.toFixed(2)}}></ion-input>
            <!-- <ion-input slot="end">{{this.bekommen}}</ion-input> -->
            <ion-label slot="end">€</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="12" size-md="12" size-lg="1">
        <ion-card>

          <ion-item (click)="resetMoneyInput()">
            Sıfırla
          </ion-item>
        </ion-card>
      </ion-col>

      <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4">
        <ion-card>
          <ion-item>
            Para Üstü
            <ion-label slot="end">{{this.ruckgeld.toFixed(2)}}€</ion-label>
          </ion-item>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-card class="ion-card">
    <ion-card-header>
      <ion-title>
        Alinan parayi giriniz!
      </ion-title>
    </ion-card-header>
    <div style="height: 100%; display: flex; align-items: center; justify-content: center;">

      <ion-card-content>

        <ion-button (click)="recieveMoney(200)" block>
          200€
        </ion-button>

        <ion-button (click)="recieveMoney(100)" block>
          100€
        </ion-button>

        <ion-button (click)="recieveMoney(50)" block>
          50€
        </ion-button>

        <ion-button (click)="recieveMoney(20)" block>
          20€
        </ion-button>

        <ion-button (click)="recieveMoney(10)" block>
          10€
        </ion-button>

        <ion-button (click)="recieveMoney(5)" block>
          5€
        </ion-button>
        <ion-button (click)="recieveMoney(2)" block>
          2€
        </ion-button>
        <ion-button (click)="recieveMoney(1)" block>
          1€
        </ion-button>
        <ion-button (click)="recieveMoney(0.5)" block>
          0.5€
        </ion-button>
        <ion-button (click)="recieveMoney(0.2)" block>
          0.2€
        </ion-button>
        <ion-button (click)="recieveMoney(0.1)" block>
          0.1€
        </ion-button>
        <ion-button (click)="recieveMoney(0.05)" block>
          0.05€
        </ion-button>
        <ion-button (click)="recieveMoney(0.02)" block>
          0.02€
        </ion-button>
        <ion-button (click)="recieveMoney(0.01)" block>
          0.01€
        </ion-button>

      </ion-card-content>
    </div>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button ion-button [routerLink]="['/home']">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button ion-button (click)="sold()" [routerLink]="['/home']">
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>